<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4th.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1970},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1313},{197,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,51}}</string>
                <key>sourceSize</key>
                <string>{197,51}</string>
            </dict>
            <key>BackGroundSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,689},{313,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,36}}</string>
                <key>sourceSize</key>
                <string>{313,36}</string>
            </dict>
            <key>BackgroundAvartar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1423},{129,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,138}}</string>
                <key>sourceSize</key>
                <string>{129,138}</string>
            </dict>
            <key>BackgroundAvatarTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1559},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>BackgroundAvatarTopInner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1865},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>BackgroundButtonCancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,1678},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>BackgroundChest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{838,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{838,500}}</string>
                <key>sourceSize</key>
                <string>{838,500}</string>
            </dict>
            <key>BackgroundInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1675},{294,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,41}}</string>
                <key>sourceSize</key>
                <string>{294,41}</string>
            </dict>
            <key>BackgroundItemChest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1268},{183,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,153}}</string>
                <key>sourceSize</key>
                <string>{183,153}</string>
            </dict>
            <key>BackgroundPopupBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1006},{589,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,309}}</string>
                <key>sourceSize</key>
                <string>{589,309}</string>
            </dict>
            <key>BackgroundScrollItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1317},{216,527}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,527}}</string>
                <key>sourceSize</key>
                <string>{216,527}</string>
            </dict>
            <key>BackgroundScrollViewTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{840,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,441}}</string>
                <key>sourceSize</key>
                <string>{840,441}</string>
            </dict>
            <key>BackgroundUserItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,844},{348,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,162}}</string>
                <key>sourceSize</key>
                <string>{348,162}</string>
            </dict>
            <key>BgTooltipBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1675},{276,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,54}}</string>
                <key>sourceSize</key>
                <string>{276,54}</string>
            </dict>
            <key>BgTooltipMid.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1006},{276,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,107}}</string>
                <key>sourceSize</key>
                <string>{276,107}</string>
            </dict>
            <key>BgTooltipTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1675},{276,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,77}}</string>
                <key>sourceSize</key>
                <string>{276,77}</string>
            </dict>
            <key>BoderGadiant.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1846},{316,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,53}}</string>
                <key>sourceSize</key>
                <string>{316,53}</string>
            </dict>
            <key>BtnCaoThuNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1008},{265,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,203}}</string>
                <key>sourceSize</key>
                <string>{265,203}</string>
            </dict>
            <key>BtnCloseCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1901},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>BtnCloseCircleClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1953},{67,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,67}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>BtnDaiGiaNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1713},{258,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,199}}</string>
                <key>sourceSize</key>
                <string>{258,199}</string>
            </dict>
            <key>BtnEdit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,678},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>BtnMusic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1417},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>BtnSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1947},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>Bubble1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1982},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>Bubble2.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1982},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>ButtonGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1570},{180,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,103}}</string>
                <key>sourceSize</key>
                <string>{180,103}</string>
            </dict>
            <key>ButtonYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,1686},{154,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{154,63}</string>
            </dict>
            <key>Chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,1252},{119,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,117}}</string>
                <key>sourceSize</key>
                <string>{119,117}</string>
            </dict>
            <key>DienThoai.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1846},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>Fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,1371},{110,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,117}}</string>
                <key>sourceSize</key>
                <string>{110,117}</string>
            </dict>
            <key>FrontGroundSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1555},{303,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{303,32}}</string>
                <key>sourceSize</key>
                <string>{313,36}</string>
            </dict>
            <key>GoldIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,844},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>HighLightPearl.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1401},{197,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,167}}</string>
                <key>sourceSize</key>
                <string>{197,167}</string>
            </dict>
            <key>HopQua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1886},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>IMG_BTN_ADD_FRIEND.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1492},{65,65}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{65,65}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>ItemDiemDanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1008},{258,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,188}}</string>
                <key>sourceSize</key>
                <string>{258,188}</string>
            </dict>
            <key>ItemQua.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1213},{258,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,186}}</string>
                <key>sourceSize</key>
                <string>{258,186}</string>
            </dict>
            <key>ItemTitleChest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1247},{258,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,64}}</string>
                <key>sourceSize</key>
                <string>{258,64}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,2},{685,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,6}}</string>
                <key>sourceSize</key>
                <string>{685,6}</string>
            </dict>
            <key>MedialBac.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1671},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>MedialDong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1779},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>MedialVang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1886},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>MyRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1953},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pearl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1483},{117,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,112}}</string>
                <key>sourceSize</key>
                <string>{117,112}</string>
            </dict>
            <key>PopupHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,2},{1231,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1231,63}}</string>
                <key>sourceSize</key>
                <string>{1231,63}</string>
            </dict>
            <key>RowBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,2},{1128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1128,64}}</string>
                <key>sourceSize</key>
                <string>{1128,64}</string>
            </dict>
            <key>RowMid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,2},{1128,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1128,78}}</string>
                <key>sourceSize</key>
                <string>{1128,78}</string>
            </dict>
            <key>RowTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{1128,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1128,57}}</string>
                <key>sourceSize</key>
                <string>{1128,57}</string>
            </dict>
            <key>Signboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1317},{394,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,114}}</string>
                <key>sourceSize</key>
                <string>{394,114}</string>
            </dict>
            <key>TitleChangePass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,1555},{274,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,55}}</string>
                <key>sourceSize</key>
                <string>{274,55}</string>
            </dict>
            <key>TitleChest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1982},{138,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,41}}</string>
                <key>sourceSize</key>
                <string>{138,41}</string>
            </dict>
            <key>TitleGif.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1973},{191,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,50}}</string>
                <key>sourceSize</key>
                <string>{191,50}</string>
            </dict>
            <key>TitleListUsersOnline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1982},{339,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,48}}</string>
                <key>sourceSize</key>
                <string>{339,48}</string>
            </dict>
            <key>TitleMission.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1751},{173,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,49}}</string>
                <key>sourceSize</key>
                <string>{173,49}</string>
            </dict>
            <key>TitleNews.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1860},{147,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,41}}</string>
                <key>sourceSize</key>
                <string>{147,41}</string>
            </dict>
            <key>TitlePersonalInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,2},{346,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,50}}</string>
                <key>sourceSize</key>
                <string>{346,50}</string>
            </dict>
            <key>TitlePhanThuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,844},{281,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,54}}</string>
                <key>sourceSize</key>
                <string>{281,54}</string>
            </dict>
            <key>TitleSetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1855},{147,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,51}}</string>
                <key>sourceSize</key>
                <string>{147,51}</string>
            </dict>
            <key>TitleShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1366},{198,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,49}}</string>
                <key>sourceSize</key>
                <string>{198,49}</string>
            </dict>
            <key>TitleSupport.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1837},{143,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,56}}</string>
                <key>sourceSize</key>
                <string>{143,56}</string>
            </dict>
            <key>TitleTopDamage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,350},{326,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,51}}</string>
                <key>sourceSize</key>
                <string>{326,51}</string>
            </dict>
            <key>TittleEmail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1554},{174,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,49}}</string>
                <key>sourceSize</key>
                <string>{174,49}</string>
            </dict>
            <key>TittleHeSoCa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1802},{153,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{153,43}}</string>
                <key>sourceSize</key>
                <string>{157,47}</string>
            </dict>
            <key>TittleNotice.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1982},{228,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,48}}</string>
                <key>sourceSize</key>
                <string>{228,48}</string>
            </dict>
            <key>TittleRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1401},{308,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,62}}</string>
                <key>sourceSize</key>
                <string>{308,62}</string>
            </dict>
            <key>TittleScrollViewTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{846,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,68}}</string>
                <key>sourceSize</key>
                <string>{846,68}</string>
            </dict>
            <key>VayCa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1854},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>btnBanBe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1847},{101,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,121}}</string>
                <key>sourceSize</key>
                <string>{101,121}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,1313},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>column.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,689},{3,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,437}}</string>
                <key>sourceSize</key>
                <string>{3,437}</string>
            </dict>
            <key>dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1970},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>duongNoiHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,1559},{128,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,125}}</string>
                <key>sourceSize</key>
                <string>{130,127}</string>
            </dict>
            <key>duongNoiNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1133},{120,117}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,117}}</string>
                <key>sourceSize</key>
                <string>{130,127}</string>
            </dict>
            <key>duongThangHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1284},{74,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,19}}</string>
                <key>sourceSize</key>
                <string>{74,19}</string>
            </dict>
            <key>duongThangNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,1483},{64,9}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,9}}</string>
                <key>sourceSize</key>
                <string>{74,19}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1004},{127,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,60}}</string>
                <key>sourceSize</key>
                <string>{127,60}</string>
            </dict>
            <key>grass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,1751},{52,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,30}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>headerKichHoatCode.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1555},{280,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,50}}</string>
                <key>sourceSize</key>
                <string>{280,50}</string>
            </dict>
            <key>headerTichLuyNapThe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1901},{308,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,53}}</string>
                <key>sourceSize</key>
                <string>{308,53}</string>
            </dict>
            <key>headerUuDaiNapThe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1555},{298,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,51}}</string>
                <key>sourceSize</key>
                <string>{298,51}</string>
            </dict>
            <key>khung button.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1317},{216,527}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,527}}</string>
                <key>sourceSize</key>
                <string>{216,527}</string>
            </dict>
            <key>khung chua phan qua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1423},{149,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,130}}</string>
                <key>sourceSize</key>
                <string>{149,130}</string>
            </dict>
            <key>khungQuaHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,1417},{117,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,140}}</string>
                <key>sourceSize</key>
                <string>{117,140}</string>
            </dict>
            <key>khungQuaNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1847},{111,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,133}}</string>
                <key>sourceSize</key>
                <string>{111,133}</string>
            </dict>
            <key>ngoc trai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,1775},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>octopus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1132},{200,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,113}}</string>
                <key>sourceSize</key>
                <string>{200,113}</string>
            </dict>
            <key>small panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{838,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{838,500}}</string>
                <key>sourceSize</key>
                <string>{838,500}</string>
            </dict>
            <key>tentacles.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1317},{663,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,115}}</string>
                <key>sourceSize</key>
                <string>{663,115}</string>
            </dict>
            <key>treasue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1602},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{80,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasPopupGame.png</string>
            <key>size</key>
            <string>{1622,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9998ac35e386bed5cd7140772e426b4:c2a2edc1e68996040cc4b14b44986eb7:8c0406a8a9aa4249194abf98519af6ac$</string>
            <key>textureFileName</key>
            <string>AtlasPopupGame.png</string>
        </dict>
    </dict>
</plist>
