<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CommingSoon.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,429},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>IMG_AVATAR_CONTAIER.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,225},{183,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,123}}</string>
                <key>sourceSize</key>
                <string>{183,123}</string>
            </dict>
            <key>IMG_BG_FOOTER.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,294},{308,157}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{308,157}}</string>
                <key>sourceSize</key>
                <string>{376,193}</string>
            </dict>
            <key>IMG_BG_FOOTER_HOVER.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,99},{376,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,193}}</string>
                <key>sourceSize</key>
                <string>{376,193}</string>
            </dict>
            <key>IMG_BG_NOTIFY_BAR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,472},{556,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,34}}</string>
                <key>sourceSize</key>
                <string>{556,34}</string>
            </dict>
            <key>IMG_BG_NOTIFY_BAR_LOBBY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,403},{537,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,67}}</string>
                <key>sourceSize</key>
                <string>{537,67}</string>
            </dict>
            <key>IMG_BG_USERGOLD.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,453},{218,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,38}}</string>
                <key>sourceSize</key>
                <string>{218,38}</string>
            </dict>
            <key>IMG_BOTTOM_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1060,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1060,96}}</string>
                <key>sourceSize</key>
                <string>{1060,96}</string>
            </dict>
            <key>IMG_BTN_CHEST_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,410},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>IMG_BTN_DANGKY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,141},{301,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,82}}</string>
                <key>sourceSize</key>
                <string>{301,82}</string>
            </dict>
            <key>IMG_BTN_HELP_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,410},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>IMG_BTN_HOPTHU_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,166},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>IMG_BTN_LOGINFB.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,99},{309,302}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{309,302}}</string>
                <key>sourceSize</key>
                <string>{383,368}</string>
            </dict>
            <key>IMG_BTN_LOGINWEB.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,99},{309,302}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{309,302}}</string>
                <key>sourceSize</key>
                <string>{383,368}</string>
            </dict>
            <key>IMG_BTN_MISSION.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,84},{94,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>IMG_BTN_NAPXU_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,403},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>IMG_BTN_SETTING_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,251},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>IMG_BTN_THOAT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,429},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>IMG_BTN_TINTUC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,337},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>IMG_BTN_USERONLINE_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,409},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>IMG_BTN_XEPHANG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1},{98,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>sourceSize</key>
                <string>{98,81}</string>
            </dict>
            <key>IMG_COIN_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,141},{44,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
            <key>IMG_LOADING.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,225},{205,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,202}}</string>
                <key>sourceSize</key>
                <string>{205,202}</string>
            </dict>
            <key>IMG_NOTIFYCATENEW.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,453},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>LabelLogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1},{289,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,138}}</string>
                <key>sourceSize</key>
                <string>{289,138}</string>
            </dict>
            <key>TEXT_EFFECT.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,294},{131,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,25}}</string>
                <key>sourceSize</key>
                <string>{131,25}</string>
            </dict>
            <key>TEXT_SOUND.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,453},{124,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,31}}</string>
                <key>sourceSize</key>
                <string>{124,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasButtonMenuGame.png</string>
            <key>size</key>
            <string>{1453,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82fe1057991423daa192a11c0da04031:4e54d6c28b1e251c83fcd55928e558eb:68b1a30505987e68b76fa424d6277f8f$</string>
            <key>textureFileName</key>
            <string>AtlasButtonMenuGame.png</string>
        </dict>
    </dict>
</plist>
