<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MINIGAME_BTN_AUTOROLL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,776},{31,33}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>MINIGAME_BTN_AUTOROLL_HOVER.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,780},{35,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{35,27}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>MINIGAME_BTN_HISTORY.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,942},{138,48}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{138,48}}</string>
                <key>sourceSize</key>
                <string>{168,78}</string>
            </dict>
            <key>MINIGAME_BTN_HISTORY_HOVER.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,913},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{168,78}</string>
            </dict>
            <key>MINIGAME_BTN_RUONG.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,780},{138,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,198}}</string>
                <key>sourceSize</key>
                <string>{138,198}</string>
            </dict>
            <key>MINIGAME_BTN_THELE.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,942},{84,46}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{84,46}}</string>
                <key>sourceSize</key>
                <string>{114,76}</string>
            </dict>
            <key>MINIGAME_BTN_THELE_HOVER.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,917},{114,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,76}}</string>
                <key>sourceSize</key>
                <string>{114,76}</string>
            </dict>
            <key>MINIGAME_BTN_TOPWIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,942},{138,48}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{138,48}}</string>
                <key>sourceSize</key>
                <string>{168,78}</string>
            </dict>
            <key>MINIGAME_BTN_TOPWIN_HOVER.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,833},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{168,78}</string>
            </dict>
            <key>MINIGAME_VE.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,571},{292,207}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{292,207}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{863,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{863,598}}</string>
                <key>sourceSize</key>
                <string>{863,598}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_BODER.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{400,542}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{400,542}}</string>
                <key>sourceSize</key>
                <string>{414,548}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_BONGBONG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,780},{56,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,43}}</string>
                <key>sourceSize</key>
                <string>{56,43}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_BTN_CLOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,776},{71,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,55}}</string>
                <key>sourceSize</key>
                <string>{71,55}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_BTN_CLOSEBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,833},{49,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,76}}</string>
                <key>sourceSize</key>
                <string>{49,76}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_BTN_QUAY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,689},{85,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{85,85}}</string>
                <key>sourceSize</key>
                <string>{143,145}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_BTN_QUAY_DISABLE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,602},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{85,85}}</string>
                <key>sourceSize</key>
                <string>{143,145}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_BTN_QUAY_HOVER.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,602},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{131,131}}</string>
                <key>sourceSize</key>
                <string>{143,145}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_COIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,546},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_COLUMN.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,735},{91,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,180}}</string>
                <key>sourceSize</key>
                <string>{91,180}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_GAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{392,392}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{392,392}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_GAME_MASK.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,602},{336,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,338}}</string>
                <key>sourceSize</key>
                <string>{336,338}</string>
            </dict>
            <key>MINIGAME_VONGQUAY_ROW.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,546},{302,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{302,23}}</string>
                <key>sourceSize</key>
                <string>{304,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasVongQuay.png</string>
            <key>size</key>
            <string>{1269,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2049ac2023743c258963f6487c8928e:1/1$</string>
            <key>textureFileName</key>
            <string>AtlasVongQuay.png</string>
        </dict>
    </dict>
</plist>
