<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin.0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,358},{12,8}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,176},{12,8}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,364},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,175},{12,10}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,364},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,174},{18,12}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,364},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,171},{22,18}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,448},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,168},{28,24}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,448},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,166},{34,28}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,542},{38,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,163},{38,34}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,542},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,161},{44,38}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,364},{50,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,160},{50,42}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,408},{54,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,158},{54,46}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1726},{60,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,155},{60,52}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1726},{66,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,153},{66,56}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1726},{72,60}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,151},{72,60}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1352},{78,64}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,149},{78,64}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,364},{82,68}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,147},{82,68}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,388},{90,72}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,145},{90,72}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,388},{94,76}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,143},{94,76}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,364},{100,82}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,140},{100,82}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,138},{106,86}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,138},{106,86}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,388},{112,90}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,137},{112,90}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,150},{118,94}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,135},{118,94}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,358},{124,100}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,132},{124,100}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,226},{130,104}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,130},{130,104}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{134,110}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,127},{134,110}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,246},{140,114}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,126},{140,114}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{146,120}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,122},{146,120}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,388},{152,124}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,120},{152,124}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,1292},{158,130}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,116},{158,130}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1560},{164,136}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,112},{164,136}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1306},{170,142}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,108},{170,142}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1204},{176,146}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,106},{176,146}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,884},{184,152}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,102},{184,152}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,724},{188,158}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,98},{188,158}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1038},{194,164}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{194,164}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,724},{202,168}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,93},{202,168}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,724},{206,174}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,90},{206,174}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,728},{214,180}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,87},{214,180}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,724},{218,186}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,84},{218,186}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1564},{224,192}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,80},{224,192}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1812},{230,196}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,78},{230,196}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{234,202}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,74},{234,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1570},{240,206}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,73},{240,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,480},{246,210}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,71},{246,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1306},{252,216}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,67},{252,216}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,364},{258,220}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,65},{258,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1808},{262,224}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,63},{262,224}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1812},{268,230}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,59},{268,230}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1570},{274,236}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,55},{274,236}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1790},{284,250}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,47},{284,250}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1306},{288,256}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,43},{288,256}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1450},{306,274}}</string>
                <key>offset</key>
                <string>{19,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{306,274}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1726},{350,320}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{350,320}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1714},{356,332}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{356,332}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1352},{360,342}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{360,342}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,944},{360,346}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{360,346}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,944},{360,352}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{360,352}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,586},{360,356}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,356}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,364},{360,358}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,358}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,944},{354,360}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,364},{358,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,484},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,846},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1208},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36e239368ff317c9bbc4e7fa7e28cad9:1/2$</string>
            <key>textureFileName</key>
            <string>coin0.png</string>
        </dict>
    </dict>
</plist>
