<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin.0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{278,244}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,50},{278,244}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1592},{294,264}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,38},{294,264}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,328},{300,268}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,36},{300,268}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1550},{312,280}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{312,280}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{318,288}}</string>
                <key>offset</key>
                <string>{21,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,24},{318,288}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1298},{320,292}}</string>
                <key>offset</key>
                <string>{20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,21},{320,292}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1252},{322,296}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{322,296}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{324,302}}</string>
                <key>offset</key>
                <string>{18,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{324,302}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,598},{328,308}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{328,308}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{330,312}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{330,312}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,980},{332,316}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{332,316}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,928},{334,322}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{334,322}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{338,326}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{338,326}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,646},{340,332}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{340,332}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{342,334}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{342,334}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,330},{346,314}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{346,314}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{352,326}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{352,326}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>coin.0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,338}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{360,338}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36e239368ff317c9bbc4e7fa7e28cad9:2/2$</string>
            <key>textureFileName</key>
            <string>coin1.png</string>
        </dict>
    </dict>
</plist>
