<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xu_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,464},{20,22}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,74},{20,22}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,604},{24,26}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,72},{24,26}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,542},{32,32}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,69},{32,32}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,492},{56,40}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,65},{56,40}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,412},{72,56}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,59},{72,56}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{84,72}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,51},{84,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,274},{94,80}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{94,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,152},{110,104}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,40},{110,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,144},{128,130}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{128,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{144,140}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{144,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{154,148}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{154,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,340},{82,82}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,43},{82,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{88,80}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,45},{88,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{86,82}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,39},{86,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,258},{84,80}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{84,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,358},{72,76}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,46},{72,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{62,62}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,53},{62,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,508},{54,54}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,62},{54,54}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,500},{48,46}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,68},{48,46}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,508},{38,38}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,71},{38,38}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{32,32}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,73},{32,32}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,274},{34,36}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,71},{34,36}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,548},{30,30}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,72},{30,30}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,582},{28,28}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,71},{28,28}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,576},{30,28}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{30,28}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,574},{32,32}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,68},{32,32}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,534},{38,40}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,64},{38,40}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,198},{42,44}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{42,44}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{26,28}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,72},{26,28}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,602},{28,26}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,71},{28,26}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,542},{32,30}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,69},{32,30}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,538},{36,28}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,70},{36,28}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,568},{38,32}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,68},{38,32}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,548},{38,32}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,68},{38,32}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,350},{34,30}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,71},{34,30}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{26,24}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,73},{26,24}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,478},{26,12}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,81},{26,12}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,436},{26,20}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,76},{26,20}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,508},{32,30}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,71},{32,30}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,312},{36,34}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,67},{36,34}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,142},{44,42}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,62},{44,42}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,494},{52,46}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,60},{52,46}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,362},{58,48}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,62},{58,48}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,444},{66,62}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,55},{66,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,300},{68,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{68,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,424},{74,78}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,47},{74,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,374},{68,68}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{68,68}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,356},{78,74}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,51},{78,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,162},{70,62}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,54},{70,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,306},{54,58}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,53},{54,58}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,438},{54,52}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,57},{54,52}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,436},{56,54}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,56},{56,54}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,544},{40,32}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{44,46}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{44,46}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,186},{58,62}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,55},{58,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,226},{68,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{68,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,432},{74,78}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,47},{74,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,288},{68,68}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{68,68}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{78,74}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,51},{78,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,162},{70,62}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,54},{70,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,250},{54,58}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,53},{54,58}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00062.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,382},{54,52}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,57},{54,52}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00063.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,486},{56,54}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,56},{56,54}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00064.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,508},{34,24}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,74},{34,24}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,500},{36,36}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,67},{36,36}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00066.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,98},{44,42}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,64},{44,42}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00067.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,50},{46,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,63},{46,44}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00068.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,244},{40,42}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,66},{40,42}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00069.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,152},{42,44}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,65},{42,44}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00070.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,516},{26,18}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,78},{26,18}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00071.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,144},{26,12}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,81},{26,12}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00072.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,580},{26,24}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,75},{26,24}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00073.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,258},{26,28}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,73},{26,28}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00074.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,576},{26,26}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,75},{26,26}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00075.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,488},{26,18}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,79},{26,18}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00076.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,506},{26,10}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,82},{26,10}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00077.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,606},{26,16}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,78},{26,16}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00078.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,610},{24,26}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,73},{24,26}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xu_00079.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,582},{24,26}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,75},{24,26}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuxu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fa9d278ff93cfcb8bfa9cdcb3540577:1/1$</string>
            <key>textureFileName</key>
            <string>xuxu.png</string>
        </dict>
    </dict>
</plist>
