<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_10_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{76,129}</string>
                <key>spriteSourceSize</key>
                <string>{148,143}</string>
                <key>textureRect</key>
                <string>{{1010,1103},{76,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{138,143}</string>
                <key>spriteSourceSize</key>
                <string>{148,143}</string>
                <key>textureRect</key>
                <string>{{1158,1708},{138,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_10_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{146,143}</string>
                <key>spriteSourceSize</key>
                <string>{148,143}</string>
                <key>textureRect</key>
                <string>{{1010,1708},{146,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_11_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{119,175}</string>
                <key>textureRect</key>
                <string>{{562,1570},{97,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_11_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{119,103}</string>
                <key>spriteSourceSize</key>
                <string>{119,175}</string>
                <key>textureRect</key>
                <string>{{562,1449},{119,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{53,165}</string>
                <key>spriteSourceSize</key>
                <string>{119,175}</string>
                <key>textureRect</key>
                <string>{{1994,325},{53,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_11_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{53,171}</string>
                <key>spriteSourceSize</key>
                <string>{119,175}</string>
                <key>textureRect</key>
                <string>{{1994,152},{53,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_12_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{100,122}</string>
                <key>spriteSourceSize</key>
                <string>{150,218}</string>
                <key>textureRect</key>
                <string>{{1790,1708},{100,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_12_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{146,122}</string>
                <key>spriteSourceSize</key>
                <string>{150,218}</string>
                <key>textureRect</key>
                <string>{{685,1705},{146,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_13_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{232,160}</string>
                <key>spriteSourceSize</key>
                <string>{232,168}</string>
                <key>textureRect</key>
                <string>{{182,1215},{232,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_13_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{232,160}</string>
                <key>spriteSourceSize</key>
                <string>{232,168}</string>
                <key>textureRect</key>
                <string>{{344,1215},{232,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_13_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{194,146}</string>
                <key>spriteSourceSize</key>
                <string>{232,168}</string>
                <key>textureRect</key>
                <string>{{971,1853},{194,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_13_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{162,138}</string>
                <key>spriteSourceSize</key>
                <string>{232,168}</string>
                <key>textureRect</key>
                <string>{{1909,945},{162,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-15}</string>
                <key>spriteSize</key>
                <string>{178,138}</string>
                <key>spriteSourceSize</key>
                <string>{232,168}</string>
                <key>textureRect</key>
                <string>{{1909,765},{178,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_13_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{232,160}</string>
                <key>spriteSourceSize</key>
                <string>{232,168}</string>
                <key>textureRect</key>
                <string>{{506,1215},{232,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_13_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{232,160}</string>
                <key>spriteSourceSize</key>
                <string>{232,168}</string>
                <key>textureRect</key>
                <string>{{1010,1474},{232,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_14_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{78,179}</string>
                <key>spriteSourceSize</key>
                <string>{98,179}</string>
                <key>textureRect</key>
                <string>{{1010,922},{78,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_14_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{80,179}</string>
                <key>spriteSourceSize</key>
                <string>{98,179}</string>
                <key>textureRect</key>
                <string>{{1966,584},{80,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_16_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{146,336}</string>
                <key>spriteSourceSize</key>
                <string>{170,340}</string>
                <key>textureRect</key>
                <string>{{1340,1900},{146,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_16_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{146,336}</string>
                <key>spriteSourceSize</key>
                <string>{170,340}</string>
                <key>textureRect</key>
                <string>{{1678,1900},{146,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_17_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{107,124}</string>
                <key>spriteSourceSize</key>
                <string>{131,128}</string>
                <key>textureRect</key>
                <string>{{1172,1598},{107,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_18_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{139,277}</string>
                <key>spriteSourceSize</key>
                <string>{223,293}</string>
                <key>textureRect</key>
                <string>{{668,1426},{139,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_19_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1892,1754},{142,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,67}</string>
                <key>spriteSourceSize</key>
                <string>{53,67}</string>
                <key>textureRect</key>
                <string>{{1032,715},{53,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,67}</string>
                <key>spriteSourceSize</key>
                <string>{53,67}</string>
                <key>textureRect</key>
                <string>{{1032,784},{53,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,67}</string>
                <key>spriteSourceSize</key>
                <string>{53,67}</string>
                <key>textureRect</key>
                <string>{{1032,853},{53,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_20_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{248,314}</string>
                <key>textureRect</key>
                <string>{{1340,1598},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_20_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{190,296}</string>
                <key>spriteSourceSize</key>
                <string>{248,314}</string>
                <key>textureRect</key>
                <string>{{1492,1708},{190,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_20_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{194,284}</string>
                <key>spriteSourceSize</key>
                <string>{248,314}</string>
                <key>textureRect</key>
                <string>{{685,1853},{194,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_22_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{268,404}</string>
                <key>spriteSourceSize</key>
                <string>{280,420}</string>
                <key>textureRect</key>
                <string>{{1090,929},{268,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_22_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{280,404}</string>
                <key>spriteSourceSize</key>
                <string>{280,420}</string>
                <key>textureRect</key>
                <string>{{1503,684},{280,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_22_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{248,402}</string>
                <key>spriteSourceSize</key>
                <string>{280,420}</string>
                <key>textureRect</key>
                <string>{{1088,1199},{248,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_22_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{238,404}</string>
                <key>spriteSourceSize</key>
                <string>{280,420}</string>
                <key>textureRect</key>
                <string>{{1496,966},{238,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_22_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{240,410}</string>
                <key>spriteSourceSize</key>
                <string>{280,420}</string>
                <key>textureRect</key>
                <string>{{598,886},{240,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_23_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{219,193}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1119,1853},{219,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_24_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{127,340}</string>
                <key>spriteSourceSize</key>
                <string>{199,428}</string>
                <key>textureRect</key>
                <string>{{668,1259},{127,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_24_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{145,302}</string>
                <key>spriteSourceSize</key>
                <string>{199,428}</string>
                <key>textureRect</key>
                <string>{{1902,1109},{145,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_24_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{147,318}</string>
                <key>spriteSourceSize</key>
                <string>{199,428}</string>
                <key>textureRect</key>
                <string>{{1172,1449},{147,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_24_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,19}</string>
                <key>spriteSize</key>
                <string>{129,340}</string>
                <key>spriteSourceSize</key>
                <string>{199,428}</string>
                <key>textureRect</key>
                <string>{{668,1128},{129,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_24_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{121,422}</string>
                <key>spriteSourceSize</key>
                <string>{199,428}</string>
                <key>textureRect</key>
                <string>{{1091,548},{121,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_24_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{115,424}</string>
                <key>spriteSourceSize</key>
                <string>{199,428}</string>
                <key>textureRect</key>
                <string>{{610,531},{115,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_24_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,8}</string>
                <key>spriteSize</key>
                <string>{109,406}</string>
                <key>spriteSourceSize</key>
                <string>{199,428}</string>
                <key>textureRect</key>
                <string>{{182,1104},{109,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_24_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{199,344}</string>
                <key>spriteSourceSize</key>
                <string>{199,428}</string>
                <key>textureRect</key>
                <string>{{809,1388},{199,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_24_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{193,342}</string>
                <key>spriteSourceSize</key>
                <string>{199,428}</string>
                <key>textureRect</key>
                <string>{{339,1705},{193,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_25_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{222,414}</string>
                <key>spriteSourceSize</key>
                <string>{352,626}</string>
                <key>textureRect</key>
                <string>{{182,880},{222,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_25_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{218,448}</string>
                <key>spriteSourceSize</key>
                <string>{352,626}</string>
                <key>textureRect</key>
                <string>{{646,142},{218,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_25_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-28}</string>
                <key>spriteSize</key>
                <string>{206,448}</string>
                <key>spriteSourceSize</key>
                <string>{352,626}</string>
                <key>textureRect</key>
                <string>{{1096,144},{206,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_25_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{194,446}</string>
                <key>spriteSourceSize</key>
                <string>{352,626}</string>
                <key>textureRect</key>
                <string>{{1546,152},{194,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_25_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{194,436}</string>
                <key>spriteSourceSize</key>
                <string>{352,626}</string>
                <key>textureRect</key>
                <string>{{1096,352},{194,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_25_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-18}</string>
                <key>spriteSize</key>
                <string>{206,426}</string>
                <key>spriteSourceSize</key>
                <string>{352,626}</string>
                <key>textureRect</key>
                <string>{{182,511},{206,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_25_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{236,420}</string>
                <key>spriteSourceSize</key>
                <string>{352,626}</string>
                <key>textureRect</key>
                <string>{{610,648},{236,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_25_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{256,410}</string>
                <key>spriteSourceSize</key>
                <string>{352,626}</string>
                <key>textureRect</key>
                <string>{{1091,671},{256,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_25_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{262,394}</string>
                <key>spriteSourceSize</key>
                <string>{352,626}</string>
                <key>textureRect</key>
                <string>{{1492,1444},{262,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_25_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{254,378}</string>
                <key>spriteSourceSize</key>
                <string>{352,626}</string>
                <key>textureRect</key>
                <string>{{182,1449},{254,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_25_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{236,398}</string>
                <key>spriteSourceSize</key>
                <string>{352,626}</string>
                <key>textureRect</key>
                <string>{{1492,1206},{236,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_26_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,8}</string>
                <key>spriteSize</key>
                <string>{155,339}</string>
                <key>spriteSourceSize</key>
                <string>{239,377}</string>
                <key>textureRect</key>
                <string>{{1892,1413},{155,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_26_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{149,341}</string>
                <key>spriteSourceSize</key>
                <string>{239,377}</string>
                <key>textureRect</key>
                <string>{{534,1705},{149,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_26_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{155,339}</string>
                <key>spriteSourceSize</key>
                <string>{239,377}</string>
                <key>textureRect</key>
                <string>{{182,1708},{155,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_27_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,22}</string>
                <key>spriteSize</key>
                <string>{494,508}</string>
                <key>spriteSourceSize</key>
                <string>{630,600}</string>
                <key>textureRect</key>
                <string>{{150,1},{494,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_28_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,16}</string>
                <key>spriteSize</key>
                <string>{179,490}</string>
                <key>spriteSourceSize</key>
                <string>{193,540}</string>
                <key>textureRect</key>
                <string>{{1,1535},{179,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_28_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,5}</string>
                <key>spriteSize</key>
                <string>{179,514}</string>
                <key>spriteSourceSize</key>
                <string>{193,540}</string>
                <key>textureRect</key>
                <string>{{1,525},{179,514}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_28_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{147,522}</string>
                <key>spriteSourceSize</key>
                <string>{193,540}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_28_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,16}</string>
                <key>spriteSize</key>
                <string>{179,492}</string>
                <key>spriteSourceSize</key>
                <string>{193,540}</string>
                <key>textureRect</key>
                <string>{{1,1041},{179,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_28_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,23}</string>
                <key>spriteSize</key>
                <string>{139,478}</string>
                <key>spriteSourceSize</key>
                <string>{193,540}</string>
                <key>textureRect</key>
                <string>{{646,1},{139,478}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_28_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,30}</string>
                <key>spriteSize</key>
                <string>{141,460}</string>
                <key>spriteSourceSize</key>
                <string>{193,540}</string>
                <key>textureRect</key>
                <string>{{1126,1},{141,460}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_28_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,32}</string>
                <key>spriteSize</key>
                <string>{149,450}</string>
                <key>spriteSourceSize</key>
                <string>{193,540}</string>
                <key>textureRect</key>
                <string>{{1588,1},{149,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_28_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,37}</string>
                <key>spriteSize</key>
                <string>{167,436}</string>
                <key>spriteSourceSize</key>
                <string>{193,540}</string>
                <key>textureRect</key>
                <string>{{646,362},{167,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_28_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,43}</string>
                <key>spriteSize</key>
                <string>{159,420}</string>
                <key>spriteSourceSize</key>
                <string>{193,540}</string>
                <key>textureRect</key>
                <string>{{182,719},{159,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_28_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,41}</string>
                <key>spriteSize</key>
                <string>{185,430}</string>
                <key>spriteSourceSize</key>
                <string>{193,540}</string>
                <key>textureRect</key>
                <string>{{1534,497},{185,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_28_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,38}</string>
                <key>spriteSize</key>
                <string>{147,442}</string>
                <key>spriteSourceSize</key>
                <string>{193,540}</string>
                <key>textureRect</key>
                <string>{{1546,348},{147,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{47,90}</string>
                <key>spriteSourceSize</key>
                <string>{57,90}</string>
                <key>textureRect</key>
                <string>{{1790,1832},{47,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{53,90}</string>
                <key>spriteSourceSize</key>
                <string>{57,90}</string>
                <key>textureRect</key>
                <string>{{1036,531},{53,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,90}</string>
                <key>spriteSourceSize</key>
                <string>{57,90}</string>
                <key>textureRect</key>
                <string>{{1990,492},{57,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{53,90}</string>
                <key>spriteSourceSize</key>
                <string>{57,90}</string>
                <key>textureRect</key>
                <string>{{1036,623},{53,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_4_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,75}</string>
                <key>spriteSourceSize</key>
                <string>{46,75}</string>
                <key>textureRect</key>
                <string>{{1010,1234},{46,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_4_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,75}</string>
                <key>spriteSourceSize</key>
                <string>{46,75}</string>
                <key>textureRect</key>
                <string>{{1010,1282},{46,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_4_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,75}</string>
                <key>spriteSourceSize</key>
                <string>{46,75}</string>
                <key>textureRect</key>
                <string>{{1010,1330},{46,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_4_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,75}</string>
                <key>spriteSourceSize</key>
                <string>{46,75}</string>
                <key>textureRect</key>
                <string>{{1010,1378},{46,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_4_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,75}</string>
                <key>spriteSourceSize</key>
                <string>{46,75}</string>
                <key>textureRect</key>
                <string>{{1010,1426},{46,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_8_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,117}</string>
                <key>spriteSourceSize</key>
                <string>{52,117}</string>
                <key>textureRect</key>
                <string>{{911,1734},{46,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_8_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,117}</string>
                <key>spriteSourceSize</key>
                <string>{52,117}</string>
                <key>textureRect</key>
                <string>{{861,1734},{48,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_8_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{50,117}</string>
                <key>spriteSourceSize</key>
                <string>{52,117}</string>
                <key>textureRect</key>
                <string>{{809,1734},{50,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_8_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{46,117}</string>
                <key>spriteSourceSize</key>
                <string>{52,117}</string>
                <key>textureRect</key>
                <string>{{959,1734},{46,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_9_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{84,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,64}</string>
                <key>textureRect</key>
                <string>{{590,1128},{84,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_9_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{78,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,64}</string>
                <key>textureRect</key>
                <string>{{1909,684},{78,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishes-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b924e4dc944badf733f0ca0c6278e606:e0d22bf16a106630ec36eb7d5d7c299b:666df8744ec40ff8d935b57b537f342b$</string>
            <key>textureFileName</key>
            <string>fishes-1.png</string>
        </dict>
    </dict>
</plist>
