<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IMG_ARROW_HERE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,703},{74,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,83}}</string>
                <key>sourceSize</key>
                <string>{74,83}</string>
            </dict>
            <key>IMG_BTN_GUN_ASC.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,703},{81,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,47}}</string>
                <key>sourceSize</key>
                <string>{81,47}</string>
            </dict>
            <key>IMG_BTN_GUN_DEC.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,703},{81,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,47}}</string>
                <key>sourceSize</key>
                <string>{81,47}</string>
            </dict>
            <key>IMG_BULLET_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,26},{41,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,46}}</string>
                <key>sourceSize</key>
                <string>{41,46}</string>
            </dict>
            <key>IMG_BULLET_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,703},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>IMG_BULLET_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,74},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>IMG_BULLET_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,203},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>IMG_FIRE_EFFECT.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,41},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>IMG_GUN_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,309},{141,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,160}}</string>
                <key>sourceSize</key>
                <string>{141,160}</string>
            </dict>
            <key>IMG_GUN_1_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,351},{159,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,174}}</string>
                <key>sourceSize</key>
                <string>{159,174}</string>
            </dict>
            <key>IMG_GUN_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,471},{141,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,160}}</string>
                <key>sourceSize</key>
                <string>{141,160}</string>
            </dict>
            <key>IMG_GUN_2_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,527},{159,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,174}}</string>
                <key>sourceSize</key>
                <string>{159,174}</string>
            </dict>
            <key>IMG_GUN_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,633},{141,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,160}}</string>
                <key>sourceSize</key>
                <string>{141,160}</string>
            </dict>
            <key>IMG_GUN_3_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,351},{159,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,174}}</string>
                <key>sourceSize</key>
                <string>{159,174}</string>
            </dict>
            <key>IMG_GUN_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,41},{141,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,160}}</string>
                <key>sourceSize</key>
                <string>{141,160}</string>
            </dict>
            <key>IMG_GUN_4_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,527},{159,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,174}}</string>
                <key>sourceSize</key>
                <string>{159,174}</string>
            </dict>
            <key>IMG_GUN_BOME.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,298},{141,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,160}}</string>
                <key>sourceSize</key>
                <string>{141,160}</string>
            </dict>
            <key>IMG_GUN_BOME_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,351},{159,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,174}}</string>
                <key>sourceSize</key>
                <string>{159,174}</string>
            </dict>
            <key>IMG_GUN_ELECTRIC.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,460},{141,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,160}}</string>
                <key>sourceSize</key>
                <string>{141,160}</string>
            </dict>
            <key>IMG_GUN_ELECTRIC_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,527},{159,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,174}}</string>
                <key>sourceSize</key>
                <string>{159,174}</string>
            </dict>
            <key>IMG_GUN_LAZER.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,622},{141,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,160}}</string>
                <key>sourceSize</key>
                <string>{141,160}</string>
            </dict>
            <key>IMG_GUN_LAZER_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,133},{159,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,174}}</string>
                <key>sourceSize</key>
                <string>{159,174}</string>
            </dict>
            <key>IMG_PLAYERINFO_CONTAINER.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,76},{529,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,55}}</string>
                <key>sourceSize</key>
                <string>{529,55}</string>
            </dict>
            <key>IMG_PLAYERINFO_CONTAINER_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{538,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,73}}</string>
                <key>sourceSize</key>
                <string>{538,73}</string>
            </dict>
            <key>IMG_SKILL_NORMAL_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,703},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>IMG_SKILL_NORMAL_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,703},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>IMG_SKILL_NORMAL_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,703},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>IMG_SKILL_NORMAL_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,203},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>IMG_TEXT_PLAYER_HERE.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1},{150,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,38}}</string>
                <key>sourceSize</key>
                <string>{150,38}</string>
            </dict>
            <key>ImgBorderLv.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1},{92,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,23}}</string>
                <key>sourceSize</key>
                <string>{92,23}</string>
            </dict>
            <key>Trident_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{447,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,107}}</string>
                <key>sourceSize</key>
                <string>{447,107}</string>
            </dict>
            <key>Trident_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,242},{447,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,107}}</string>
                <key>sourceSize</key>
                <string>{447,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasGuns.png</string>
            <key>size</key>
            <string>{799,787}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1af6842376224fe83b132bbe34bba05a:94b5049e90c2a07a8dfd5a4953aa3256:1c556f6807b54c405c6e9f22750a5441$</string>
            <key>textureFileName</key>
            <string>AtlasGuns.png</string>
        </dict>
    </dict>
</plist>
