<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>fish_19_swim</key>
			<dict>
				<key>delay</key>
				<real>0.050</real>
				<key>frames</key>
				<array>
					<string>fish_19_01.png</string>
					<string>fish_19_02.png</string>
					<string>fish_19_03.png</string>
					<string>fish_19_04.png</string>
					<string>fish_19_05.png</string>
					<string>fish_19_06.png</string>
					<string>fish_19_07.png</string>
					<string>fish_19_08.png</string>
					<string>fish_19_09.png</string>
					<string>fish_19_10.png</string>
					<string>fish_19_11.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
