<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>fish_13_swim</key>
			<dict>
				<key>delay</key>
				<real>0.050</real>
				<key>frames</key>
				<array>
					<string>fish_13_01.png</string>
					<string>fish_13_02.png</string>
					<string>fish_13_03.png</string>
					<string>fish_13_04.png</string>
					<string>fish_13_05.png</string>
					<string>fish_13_06.png</string>
					<string>fish_13_07.png</string>
					<string>fish_13_08.png</string>
					<string>fish_13_09.png</string>
					<string>fish_13_10.png</string>
					<string>fish_13_11.png</string>
					<string>fish_13_12.png</string>
					<string>fish_13_13.png</string>
					<string>fish_13_14.png</string>
					<string>fish_13_15.png</string>
					<string>fish_13_16.png</string>
					<string>fish_13_17.png</string>
					<string>fish_13_18.png</string>
					<string>fish_13_19.png</string>
					<string>fish_13_20.png</string>
					<string>fish_13_21.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
