<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>fish_6_swim</key>
			<dict>
				<key>delay</key>
				<real>0.050</real>
				<key>frames</key>
				<array>
					<string>fish_6_01.png</string>
					<string>fish_6_02.png</string>
					<string>fish_6_03.png</string>
					<string>fish_6_04.png</string>
					<string>fish_6_05.png</string>
					<string>fish_6_06.png</string>
					<string>fish_6_07.png</string>
					<string>fish_6_08.png</string>
					<string>fish_6_09.png</string>
					<string>fish_6_10.png</string>
					<string>fish_6_11.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
