<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>fish_26_swim</key>
			<dict>
				<key>delay</key>
				<real>0.050</real>
				<key>frames</key>
				<array>
					<string>fish_26_01.png</string>
					<string>fish_26_02.png</string>
					<string>fish_26_03.png</string>
					<string>fish_26_04.png</string>
					<string>fish_26_05.png</string>
					<string>fish_26_06.png</string>
					<string>fish_26_07.png</string>
					<string>fish_26_08.png</string>
					<string>fish_26_09.png</string>
					<string>fish_26_10.png</string>
					<string>fish_26_11.png</string>
					<string>fish_26_12.png</string>
                    <string>fish_26_13.png</string>
                    <string>fish_26_14.png</string>
                    <string>fish_26_15.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
