<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>fish_16_swim</key>
			<dict>
				<key>delay</key>
				<real>0.050</real>
				<key>frames</key>
				<array>
					<string>fish_16_01.png</string>
					<string>fish_16_02.png</string>
					<string>fish_16_03.png</string>
					<string>fish_16_04.png</string>
					<string>fish_16_05.png</string>
					<string>fish_16_06.png</string>
					<string>fish_16_07.png</string>
					<string>fish_16_08.png</string>
					<string>fish_16_09.png</string>
					<string>fish_16_10.png</string>
					<string>fish_16_11.png</string>
					<string>fish_16_12.png</string>
					<string>fish_16_13.png</string>
					<string>fish_16_14.png</string>
					<string>fish_16_15.png</string>
					<string>fish_16_16.png</string>
					<string>fish_16_17.png</string>
					<string>fish_16_18.png</string>
					<string>fish_16_19.png</string>
					<string>fish_16_20.png</string>
					<string>fish_16_21.png</string>
					<string>fish_16_22.png</string>
					<string>fish_16_23.png</string>
					<string>fish_16_24.png</string>
					<string>fish_16_25.png</string>
					<string>fish_16_26.png</string>
					<string>fish_16_27.png</string>
					<string>fish_16_28.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
