<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>fish_11_swim</key>
			<dict>
				<key>delay</key>
				<real>0.050</real>
				<key>frames</key>
				<array>
					<string>fish_11_01.png</string>
					<string>fish_11_02.png</string>
					<string>fish_11_03.png</string>
					<string>fish_11_04.png</string>
					<string>fish_11_05.png</string>
					<string>fish_11_06.png</string>
					<string>fish_11_07.png</string>
					<string>fish_11_08.png</string>
					<string>fish_11_09.png</string>
					<string>fish_11_10.png</string>
					<string>fish_11_11.png</string>
					<string>fish_11_12.png</string>
					<string>fish_11_13.png</string>
					<string>fish_11_14.png</string>
					<string>fish_11_15.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
