<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>fish_21_swim</key>
			<dict>
				<key>delay</key>
				<real>0.050</real>
				<key>frames</key>
				<array>
					<string>fish_21_01.png</string>
					<string>fish_21_02.png</string>
					<string>fish_21_03.png</string>
					<string>fish_21_04.png</string>
					<string>fish_21_05.png</string>
					<string>fish_21_06.png</string>
					<string>fish_21_07.png</string>
					<string>fish_21_08.png</string>
					<string>fish_21_09.png</string>
					<string>fish_21_10.png</string>
					<string>fish_21_11.png</string>
					<string>fish_21_12.png</string>
					<string>fish_21_13.png</string>
					<string>fish_21_14.png</string>
					<string>fish_21_15.png</string>
					<string>fish_21_16.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
