<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>fish_17_swim</key>
			<dict>
				<key>delay</key>
				<real>0.050</real>
				<key>frames</key>
				<array>
					<string>fish_17_01.png</string>
					<string>fish_17_02.png</string>
					<string>fish_17_03.png</string>
					<string>fish_17_04.png</string>
					<string>fish_17_05.png</string>
					<string>fish_17_06.png</string>
					<string>fish_17_07.png</string>
					<string>fish_17_08.png</string>
					<string>fish_17_09.png</string>
					<string>fish_17_10.png</string>
					<string>fish_17_11.png</string>
					<string>fish_17_12.png</string>
					<string>fish_17_13.png</string>
					<string>fish_17_14.png</string>
					<string>fish_17_15.png</string>
					<string>fish_17_16.png</string>
					<string>fish_17_17.png</string>
					<string>fish_17_18.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
