<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>fish_14_swim</key>
			<dict>
				<key>delay</key>
				<real>0.050</real>
				<key>frames</key>
				<array>
					<string>fish_14_01.png</string>
					<string>fish_14_02.png</string>
					<string>fish_14_03.png</string>
					<string>fish_14_04.png</string>
					<string>fish_14_05.png</string>
					<string>fish_14_06.png</string>
					<string>fish_14_07.png</string>
					<string>fish_14_08.png</string>
					<string>fish_14_09.png</string>
					<string>fish_14_10.png</string>
					<string>fish_14_11.png</string>
					<string>fish_14_12.png</string>
					<string>fish_14_13.png</string>
					<string>fish_14_14.png</string>
					<string>fish_14_15.png</string>
					<string>fish_14_16.png</string>
					<string>fish_14_17.png</string>
					<string>fish_14_18.png</string>
					<string>fish_14_19.png</string>
					<string>fish_14_20.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
