<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>fish_2_swim</key>
			<dict>
				<key>delay</key>
				<real>0.1000</real>
				<key>frames</key>
				<array>
					<string>fish_2_01.png</string>
					<string>fish_2_02.png</string>
					<string>fish_2_03.png</string>
					<string>fish_2_04.png</string>
					<string>fish_2_05.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
