<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>fish_23_swim</key>
			<dict>
				<key>delay</key>
				<real>0.0750</real>
				<key>frames</key>
				<array>
					<string>fish_23_01.png</string>
					<string>fish_23_02.png</string>
					<string>fish_23_03.png</string>
					<string>fish_23_04.png</string>
					<string>fish_23_05.png</string>
					<string>fish_23_06.png</string>
					<string>fish_23_07.png</string>
					<string>fish_23_08.png</string>
					<string>fish_23_09.png</string>
					<string>fish_23_10.png</string>
					<string>fish_23_11.png</string>
					<string>fish_23_12.png</string>
					<string>fish_23_13.png</string>
					<string>fish_23_14.png</string>
					<string>fish_23_15.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
