<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BTNClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{96,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,65}}</string>
                <key>sourceSize</key>
                <string>{96,65}</string>
            </dict>
            <key>BTNCloseClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{96,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,65}}</string>
                <key>sourceSize</key>
                <string>{96,65}</string>
            </dict>
            <key>BTNRefesh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>BTNRegit.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,69},{301,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,82}}</string>
                <key>sourceSize</key>
                <string>{301,82}</string>
            </dict>
            <key>BTNRegitClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,153},{301,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,82}}</string>
                <key>sourceSize</key>
                <string>{301,82}</string>
            </dict>
            <key>BackGroundPopup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{707,647}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{707,647}}</string>
                <key>sourceSize</key>
                <string>{707,647}</string>
            </dict>
            <key>ButtonLogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{301,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,82}}</string>
                <key>sourceSize</key>
                <string>{301,82}</string>
            </dict>
            <key>ButtonLoginClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{301,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,82}}</string>
                <key>sourceSize</key>
                <string>{301,82}</string>
            </dict>
            <key>TxtBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{303,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,60}}</string>
                <key>sourceSize</key>
                <string>{303,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasPopup.png</string>
            <key>size</key>
            <string>{711,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76505244e145c218ca829d7c2aefd7f0:f15e7f346cc569fbb83b1ee81992f9af:da8d431aba1d5973e2d7ee756998be14$</string>
            <key>textureFileName</key>
            <string>AtlasPopup.png</string>
        </dict>
    </dict>
</plist>
