<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,510},{80,127}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,10},{80,127}}</string>
                <key>sourceSize</key>
                <string>{148,143}</string>
            </dict>
            <key>fish_13_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,1435},{158,138}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,30},{158,138}}</string>
                <key>sourceSize</key>
                <string>{232,168}</string>
            </dict>
            <key>fish_14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,510},{80,171}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{80,171}}</string>
                <key>sourceSize</key>
                <string>{98,179}</string>
            </dict>
            <key>fish_14_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,510},{80,175}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{80,175}}</string>
                <key>sourceSize</key>
                <string>{98,179}</string>
            </dict>
            <key>fish_15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,936},{149,197}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{149,197}}</string>
                <key>sourceSize</key>
                <string>{211,209}</string>
            </dict>
            <key>fish_15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1435},{197,207}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{197,207}}</string>
                <key>sourceSize</key>
                <string>{211,209}</string>
            </dict>
            <key>fish_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,967},{41,99}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{41,99}}</string>
                <key>sourceSize</key>
                <string>{51,103}</string>
            </dict>
            <key>fish_20_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,1420},{190,174}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{190,174}}</string>
                <key>sourceSize</key>
                <string>{248,314}</string>
            </dict>
            <key>fish_20_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,1135},{148,298}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,5},{148,298}}</string>
                <key>sourceSize</key>
                <string>{248,314}</string>
            </dict>
            <key>fish_20_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{196,268}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{196,268}}</string>
                <key>sourceSize</key>
                <string>{248,314}</string>
            </dict>
            <key>fish_22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1634},{250,412}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{250,412}}</string>
                <key>sourceSize</key>
                <string>{280,420}</string>
            </dict>
            <key>fish_22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1650},{278,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{278,394}}</string>
                <key>sourceSize</key>
                <string>{280,420}</string>
            </dict>
            <key>fish_22_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,1596},{280,402}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{280,402}}</string>
                <key>sourceSize</key>
                <string>{280,420}</string>
            </dict>
            <key>fish_22_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1646},{246,400}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{246,400}}</string>
                <key>sourceSize</key>
                <string>{280,420}</string>
            </dict>
            <key>fish_24_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,200},{199,342}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{199,342}}</string>
                <key>sourceSize</key>
                <string>{199,428}</string>
            </dict>
            <key>fish_24_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,592},{149,342}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,57},{149,342}}</string>
                <key>sourceSize</key>
                <string>{199,428}</string>
            </dict>
            <key>fish_25_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1104},{157,351}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{157,351}}</string>
                <key>sourceSize</key>
                <string>{239,377}</string>
            </dict>
            <key>fish_25_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1263},{155,351}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,12},{155,351}}</string>
                <key>sourceSize</key>
                <string>{239,377}</string>
            </dict>
            <key>fish_26_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1634},{220,412}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,119},{220,412}}</string>
                <key>sourceSize</key>
                <string>{352,626}</string>
            </dict>
            <key>fish_26_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1650},{234,396}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,119},{234,396}}</string>
                <key>sourceSize</key>
                <string>{352,626}</string>
            </dict>
            <key>fish_27_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1112},{372,536}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,37},{372,536}}</string>
                <key>sourceSize</key>
                <string>{630,600}</string>
            </dict>
            <key>fish_27_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1112},{370,532}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,37},{370,532}}</string>
                <key>sourceSize</key>
                <string>{630,600}</string>
            </dict>
            <key>fish_27_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1672},{374,524}}</string>
                <key>offset</key>
                <string>{28,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,34},{374,524}}</string>
                <key>sourceSize</key>
                <string>{630,600}</string>
            </dict>
            <key>fish_27_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,592},{414,510}}</string>
                <key>offset</key>
                <string>{57,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,31},{414,510}}</string>
                <key>sourceSize</key>
                <string>{630,600}</string>
            </dict>
            <key>fish_27_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{492,506}}</string>
                <key>offset</key>
                <string>{65,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,25},{492,506}}</string>
                <key>sourceSize</key>
                <string>{630,600}</string>
            </dict>
            <key>fish_27_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,544},{522,518}}</string>
                <key>offset</key>
                <string>{28,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,16},{522,518}}</string>
                <key>sourceSize</key>
                <string>{630,600}</string>
            </dict>
            <key>fish_27_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,562},{548,530}}</string>
                <key>offset</key>
                <string>{-27,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{548,530}}</string>
                <key>sourceSize</key>
                <string>{630,600}</string>
            </dict>
            <key>fish_27_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{448,540}}</string>
                <key>offset</key>
                <string>{-91,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{448,540}}</string>
                <key>sourceSize</key>
                <string>{630,600}</string>
            </dict>
            <key>fish_27_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{370,548}}</string>
                <key>offset</key>
                <string>{-95,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{370,548}}</string>
                <key>sourceSize</key>
                <string>{630,600}</string>
            </dict>
            <key>fish_27_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{368,556}}</string>
                <key>offset</key>
                <string>{-63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,17},{368,556}}</string>
                <key>sourceSize</key>
                <string>{630,600}</string>
            </dict>
            <key>fish_27_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,558}}</string>
                <key>offset</key>
                <string>{-50,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,26},{448,558}}</string>
                <key>sourceSize</key>
                <string>{630,600}</string>
            </dict>
            <key>fish_27_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{420,550}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,34},{420,550}}</string>
                <key>sourceSize</key>
                <string>{630,600}</string>
            </dict>
            <key>fish_28_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1112},{177,512}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{177,512}}</string>
                <key>sourceSize</key>
                <string>{193,540}</string>
            </dict>
            <key>fish_28_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1112},{145,520}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{145,520}}</string>
                <key>sourceSize</key>
                <string>{193,540}</string>
            </dict>
            <key>fish_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1324},{45,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{45,90}}</string>
                <key>sourceSize</key>
                <string>{57,90}</string>
            </dict>
            <key>fish_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2000},{45,90}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,90}}</string>
                <key>sourceSize</key>
                <string>{57,90}</string>
            </dict>
            <key>fish_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,592},{55,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{55,90}}</string>
                <key>sourceSize</key>
                <string>{57,90}</string>
            </dict>
            <key>fish_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,762},{53,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{53,90}}</string>
                <key>sourceSize</key>
                <string>{57,90}</string>
            </dict>
            <key>fish_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,2000},{45,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,80}}</string>
                <key>sourceSize</key>
                <string>{45,82}</string>
            </dict>
            <key>fish_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,2000},{45,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,80}}</string>
                <key>sourceSize</key>
                <string>{45,82}</string>
            </dict>
            <key>fish_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,485},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>fish_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1068},{42,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>fish_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1068},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>fish_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1068},{42,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>fish_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1068},{42,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>fish_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1068},{42,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,73}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>fish_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1068},{42,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,73}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>fish_8_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,200},{46,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,117}}</string>
                <key>sourceSize</key>
                <string>{52,117}</string>
            </dict>
            <key>fish_8_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,854},{52,111}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,111}}</string>
                <key>sourceSize</key>
                <string>{52,117}</string>
            </dict>
            <key>fish_8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1068},{42,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,117}}</string>
                <key>sourceSize</key>
                <string>{52,117}</string>
            </dict>
            <key>fish_9_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1104},{72,46}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{72,46}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>fish_9_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,544},{70,46}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{70,46}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>fish_9_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1252},{70,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{70,46}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>fish_9_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1178},{72,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{72,46}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>fish_9_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,405},{78,46}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{78,46}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>fish_9_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,319},{84,46}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{84,46}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>fish_9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,684},{76,54}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{76,54}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishes0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cae0c7be08cf4a52fed9cc4d955598e5:1/4$</string>
            <key>textureFileName</key>
            <string>fishes0.png</string>
        </dict>
    </dict>
</plist>
